<div class="main-form">
  <mat-card appearance="outlined" class="card">
    <div class="page-form">
      <h1>Bienvenue</h1>
      <mat-tab-group class="tabs" #tabs *ngIf="!resetPassword">
        <mat-tab label="Connexion">
          <app-login></app-login>
          <button mat-button color="primary" (click)="resetPassword = true">
            Mot de passe oublié ?
          </button>
        </mat-tab>
        <mat-tab label="Nouveau ?">
          <app-register (accountCreated)="onAccountCreated()"></app-register>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="resetPassword">
        <app-password-reset></app-password-reset>
        <button mat-button color="primary" (click)="resetPassword = false">
          Retour
        </button>
      </div>
    </div>
  </mat-card>
</div>