@import '@angular/material/theming';
@import '../../../theme/default-theme';

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}